{include file="include/pickhead.html"}
    <span class="formheight">
        <form action="{$baseurl}login_accept">
            <input type="hidden" name="redirect" value="{$redirect}">
            <input type="hidden" name="small" value="1">

            Name <input type="text" size="6" name="name" value="{$saved_name}">
            ID Number <input type="text" size="14" name="code" value="{$saved_code}">
	    {if $uses_pin == 1}
	    PIN <input type="password" size="6" name="pin" value="{$saved_pin}">
	    {/if}

            
            <input type="submit" value="Login">

        </form>
    </span>
{include file="include/pickfoot.html"}
